<div class="card bg-light">
  <div class="card-body">

    <h4><%= link_to post.title, post , class: "text-decoration-none" %></h4>

    <div class="text-muted mb-2">
       <em>Por: <%= post.author %> (<%= post.created_at.strftime("%d/%m/%Y") %>)</em>
    </div>

    <p> <%= post.body.truncate(200) %></p>

    <p class='text-muted'> <%= pluralize(post.comments.count, "comentário") %></p>
  </div>
</div>

